<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.kalapun.iChat.services.TestService</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TestService!</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSPrincipalClass</key>
	<string>IMTestService</string>
	<key>IMUsesServerPortAccountSetting</key>
	<false/>
	<key>IMUsesServerHostAccountSetting</key>
	<true/>
	<key>IMUsesEnableSSLAccountSetting</key>
	<false/>
	<key>kABInstantMessageProperty</key>
	<string>kABInstantMessageServiceTestService</string>
	<key>IMDefaultHandleCapabilities</key>
	<array>
		<string>IMHandleCapabilityMessaging</string>
		<string>IMHandleCapabilityOfflineMessaging</string>
		<string>IMHandleCapabilityHandlePicture</string>
	</array>
	<key>IMServiceCapabilities</key>
	<array>
		<string>IMServiceCapabilityPresenceSupport</string>
		<string>IMServiceCapabilityPresenceInvisibilitySupport</string>
		<string>IMServiceCapabilityInstantMessagingSupport</string>
		<string>IMServiceCapabilityGroupListSupport</string>
		<string>IMServiceCapabilityGroupListEditingSupport</string>
		<string>IMServiceCapabilityGroupListAuthorizationSupport</string>
		<string>IMServiceCapabilityFileTransferSessionSupport</string>
	</array>
	<key>_IMInternalName</key>
	<string>IMTestService</string>
</dict>
</plist>
